
.bold {
    font-weight: bold;
}

.buttonCustom {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}

.margin {
    margin-top: -3px !important;
}

.imageContainer {
    text-align: center;
  
}

.dataContainer {
    height: 50%;
    margin-top: 10px;
}

.employedata {
    color: gray;
}

.employeeName {
    font-size: 21px;
    position: top;
}

:host {
    --sds-c-icon-color-background: #FF9A3C;
}

lightning-icon{
    background-color:white;
}
.font18 {
    font-size: 18px;
}

.font21 {
    font-size: 21px;
}

.main{
    border-style:none;
    background-color: #FCFCFC;
}
