.main{
    border-style:none;
    background-color: #FCFCFC;
}

.custom-tab-icon {
    --sds-c-icon-color-background: #FF9A3C;
}

.slds-vertical-tabs,
.slds-vertical-tabs__content{
    background-color: #FCFCFC;
}

.slds-is-active .slds-vertical-tabs__link{
    background-color: #FFFFFF !important;
}

.slds-vertical-tabs__nav-item.slds-is-active{
    border: var(--lwc-borderWidthThin,1px) solid rgb(0 0 0 / 0%) !important;
}

.slds-vertical-tabs__link{
    background-color: #F3F2F2;
}

.slds-vertical-tabs{
    border: var(--lwc-borderWidthThin,1px) solid solid rgb(0 0 0 / 0%);
}

.slds-vertical-tabs__nav {
    min-width: 190px;
    border-right: var(--lwc-borderWidthThin,1px) solid rgb(0 0 0 / 0%);
}

.slds-vertical-tabs__nav-item {
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,#D4D4D4)
}

.slds-vertical-tabs__nav-item:last-child {
    margin-bottom: 0px;
}

a:focus {
    text-decoration: none;
}

.slds-vertical-tabs__link span{
    font-size: 13px;
    color: #3E3E3C
}
