*{
    height:auto;
}

body{
    height:auto !important;
}

div table:nth-child(2){
    margin: 44px;
}

div table:nth-child(3){
    position: relative;
}

div table:nth-child(4){
    position: relative;
}

.slds-icon-action-approval{
    background-color: #178b55 !important;
}

.backgrd{
    background: #ecebea !important;
}

.text-bold{
    font-weight: bold !important;
}

.rolessection {
    padding:10px; 
    text-align:center;
}

.generalcard {
    background:white; 
    height: auto;
}

.currentrole {
    visibility: hidden;
    width:45%; 
    display:inline-table;
    border: 1px solid #999;
}

.roletable{
    width:45%; 
    display:inline-table;
}

.textcenter {
    text-align: center;
}

.textbold {
    font-weight:bold;
}

.requiredstar {
    color:red;
    font-size: 19px;
}